<% provide(:title, "Attendance") %>
<div class="center jumbotron">
  <h1>出勤中社員一覧</h1>
    <table class="table table-bordered table-hover" id= "table-attend_employees">
      <thead>
        <tr>
          <th colspan="6">社員番号</th>
          <th colspan="6">名前</th>
        </tr>
      </thead>
    </table>
</div>
