<% provide(:title, "出勤者") %>

<h1>出勤中社員一覧</h1>
<table class="table table-bordered table-hover" id= "table-attend_employees">
    <tr>
      <th>社員番号</th>
      <th>名前</th>
    </tr>
    <% @users.each do |user| %>
      <% user.attendances.each do |attendance| %>
        <% if attendance.worked_on == @day %>
          <% if attendance.started_at.present? && attendance.finished_at.nil? %>
            <tr>
              <th><%= user.employee_number %></th>
              <th><%= user.name %></th>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</table>


