<% provide(:class_text, 'edit_one_month') %>
<% provide(:button_text, '変更を送信する。') %>

    <h1>【からの残業申請】</h1>
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>終了予定時間</th>
          <th>指定勤務終了時間</th>
          <th>時間外時間</th>
          <th>業務処理内容</th>
          <th>指示者確認㊞</th>
          <th>変更</th>
          <th>勤怠を確認する</th>
        </tr>
      </thead>
