<% provide(:class_text, 'edit_one_month') %>
<% provide(:button_text, '変更を送信する。') %>

  <h1>【からの残業申請】</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="1" rowspan="3">日付</th>
          <th colspan="1" rowspan="3">曜日</th>
          <th colspan="4" rowspan="1">変更前</th>
          <th colspan="4" rowspan="1">変更後</th>
          <th colspan="1" rowspan="3">備考</th>
          <th colspan="1" rowspan="3">指示者確認㊞</th>
          <th colspan="1" rowspan="3">変更</th>
          <th colspan="1" rowspan="3">勤怠を確認する</th>
        </tr>
        <tr>
          <th colspan="2" rowspan="1">出社</th>
          <th colspan="2" rowspan="1">退社</th>
          <th colspan="2" rowspan="1">出社</th>
          <th colspan="2" rowspan="1">退社</th>
        </tr>
        <tr>
          <th rowspan="1">時</th>
          <th rowspan="1">分</th>
          <th rowspan="1">時</th>
          <th rowspan="1">分</th>
          <th rowspan="1">時</th>
          <th rowspan="1">分</th>
          <th rowspan="1">時</th>
          <th rowspan="1">分</th>
        </tr>
      </thead>
    </table>